body {
    font-family: $fontFamily;

    .footer {
        border-top: 1px solid #E5E5E5;
        
        .footer__title {
            @include addmarginconteiner(20%, 2%);
            // width: 20%;
            // margin: 2% auto;
            color: $colorTheard;
            font-size: .8125rem;
        }
    }
}