@import 'mixin';

$colorTheard: #909090;

.footer {
    border-top: 1px solid #E5E5E5;

    .footer__title {
        @include addmarginconteiner(20%, 2%);
        color: $colorTheard;
        font-size: .8125rem;
    }
}
