body {
    font-family: "$fontFamily";

    .header {
        .conteiner {
            @include addmarginconteiner(81.26%, 1.3%);
            // width: 81.26%;
            // margin: 1.3% auto;
            @include flex(row, space-between, start, auto);
            // display: flex;
            // justify-content: space-between;

            .header__item {
                @include flex(row, stretch, start, auto);
                // display: flex;
                // flex-direction: row;

                .header__logo {
                    background-color: $colorFirst;
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                    @include flex(row, stretch, start, center);
                    // display: flex;
                    // align-self: center;

                    .logo {
                        @include getmargin(31%, 27%, 31%, 27%);
                        // margin: 31% 27%;
                    }
                }

                .header__title {
                    font-size: 2rem;
                    @include flex(row, stretch, start, center);
                    // display: flex;
                    // align-self: center;
                }

            }

            .header__item--nav {

                .header__nav {
                    font-size: 0;
                    @include flex(row, stretch, start, auto);
                    // display: flex;
                    // flex-direction: row;
                    .nav__item,
                    .nav__item--active {
                        font-size: 1rem;
                        color: $colorSecond;
                        @include getmargin(7.3%, 7.3%, 7.3%, 7.3%);
                        // margin: 7.3%;
                    }

                    .nav__item--active {
                        border-bottom: 2px solid $colorFirst;
                    }
                }
            }
        }
    }
}