@import 'mixin';

$colorFirst: #5094F2;
$colorSecond: #6C6C6C; 
$colorTheard: #909090;
$colorFourth: #6F7173;

.header {
    .conteiner {
        @include addmarginconteiner(81.26%, 0);
        @include flex(row, space-between);

        .header__item {
            @include flex(row, flex-start);

            .header__logo {
                background-color: $colorFirst;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                display: flex;
                align-self: center;

                .logo {
                    @include getmargin(31%, 27%, 31%, 27%);
                }
            }

            .header__title {
                font-size: 2rem;
                display: flex;
                align-self: center;
            }

        }

        .header__item--nav {
            width: 30%;

            .header__nav {
                font-size: 0;
                @include flex(row, flex-start);

                .nav__item,
                .nav__item--active {
                    // @include getmargin(7.3%, 7.3%, 7.3%, 7.3%);
                    padding: 7.3%;
                    
                    .nav__link {
                        font-size: 1rem;
                        color: $colorSecond;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                .nav__item--active {
                    border-bottom: 3px solid $colorFirst;
                }

                // .nav__item:hover .nav__item--active{
                //     border-bottom: none;
                // }

                .nav__item {

                    &:hover {
                        border-bottom: 3px solid $colorFirst;
                        
                        .nav__item--active {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}