@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    src: url(../MyriadPro-Regular.woff2),
        local(MyriadPro);
}


body {
    font-family: "Myriad Pro";
}