@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    src: url(../MyriadPro-Regular.woff2),
        local(MyriadPro);
}


body {
    font-family: "Myriad Pro";
    
    .header {
        .conteiner {
            width: 81.26%;
            margin: 21px auto;
            display: flex;
            justify-content: space-between;

            .header__item {
                display: flex;
                flex-direction: row;

                .header__logo {
                    background-color: #5094F2;
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-self: center;

                    .logo {
                        width: 21px;
                        margin: 7px 6px 10px;
                    }
                }

                .header__title {
                    font-size: 2rem;
                    display: flex;
                    align-self: center;
                }

            }

            .header__item--nav {
                .header__nav {
                    font-size: 0;
                    .nav__item,
                    .nav__item--active {
                        font-size: 1rem;
                        display: inline-block;
                        color: #6C6C6C;
                        margin: 15px;
                    }

                    .nav__item--active {
                        border-bottom: 2px solid #5094F2;
                    }
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;

        .additional {
            background-image: url(../img/background.png);
            background-size: cover;

            .conteiner {
                width: 81.26%;
                margin: 38px auto;
                display: flex;
                flex-direction: row;

                .additional__baner {
                    .additional__picture {
                        width: 70%;
                    }
                }

                .additional__item {
                    color: white;
                    margin: 8% 0 0 25%;

                    .additional__title {
                        font-size: 1.5rem;
                        letter-spacing: 0.02rem;
                        line-height: 32px;
                    }

                    .additional__text {
                        font-size: 1rem;
                        letter-spacing: 0.02rem;
                        line-height: 26px;
                        margin-bottom: 12%;
                    }

                    .additional__buttom {
                        background-color: #5094F2;
                        display: flex;
                        flex-direction: row;
                        padding: 7px 4%;
                        width: 66%;

                        .buttom__picture {
                            display: flex;
                            align-items: center;
                        }
                        
                        .buttom__link {
                            color: white;
                            text-decoration: none;
                            font-size: 1.25rem;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .special {

            .conteiner {
                width: 81.26%;
                margin: 65px auto;
                display: flex;
                flex-direction: column;
                
                .special__item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    .special__block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 20%;
                        
                        .special__baner {
                            background-color: #5094F2;
                            border-radius: 100%;
                            width: 90%;
                            height: 200px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 8%;
                        }

                        .baner__first {
                            background-color: #D94748;
                        }

                        .baner__second {
                            background-color: #EBBB11;
                        }

                        .special__title {
                            font-size: 1rem;
                            color: #5094F2;
                        }
                        
                        .special__text {
                            font-size: .75rem;
                            color: #6C6C6C;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}